<template>
    <div class="body_bg background_white" v-if="page">
        
        <banner-static>
            <img :src="API_HOST + $store.state.OPTIONS.INTRO_BANNER" alt="Giới thiệu Lam Kinh">
        </banner-static>

        <div class="container page_bg padding_bottom">
            <app-sidebar title="Giới thiệu">
                <router-link :to="{name: 'About', params: {slug: childpage.Slug}}" v-for="childpage in childrenPages" class="left_menu_item">{{childpage.Title}}<span></span></router-link>
            </app-sidebar>

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="tab_content_item_bg">
                    <div class="page_title">{{page.Title}}</div>
                    <div class="page_content" v-html="page.Content"></div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
    export default {
        data(){
            return {
                childrenPages: [],
                page: null,
            }
        },
        methods: {
            getCurrentPage(){
                let vm = this;
                $.ajax({
                    url: process.env.API_LOCATION + 'page',
                    type: 'GET',
                    dataType: 'json',
                    data: {slug: vm.$route.params.slug ? vm.$route.params.slug : "gioi-thieu-chung"},
                    success(result){
                        vm.page = result;
                    }
                })
            },
            getChildrenPages(){
                let vm = this;
                $.ajax({
                    url: process.env.API_LOCATION + 'page',
                    type: 'GET',
                    dataType: 'json',
                    data: {templateId: "Introduce"},
                    success(result){
                        vm.childrenPages = result;
                    }
                })
            }
        },
        mounted(){
            this.getCurrentPage();
            this.getChildrenPages();
        },
        watch: {
            '$route'(){
                this.getCurrentPage();
            }
        },
        head: {
            title: {
                inner: 'Giới thiệu'
            },
        }
    }
</script>

