<style>
    .contact_tab_bg {
        display: block;
    }

    #contact-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #999999;
    }
    #contact-form ::-moz-placeholder { /* Firefox 19+ */
      color: #999999;
    }
    #contact-form :-ms-input-placeholder { /* IE 10+ */
      color: #999999;
    }
    #contact-form :-moz-placeholder { /* Firefox 18- */
      color: #999999;
    }
</style>

<template>

    <div class="body_bg background_white">
        
        <a class="page_img contact_map" :href="$store.state.OPTIONS.CONTACT_MAP" target="_blank" title="Google Maps">
            <img class="margin_top_page_mb" :src="API_HOST + page.Image" title="Contact us">
        </a>
        <div class="container page_bg padding_bottom">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page_title contact">
                    Liên hệ
                </div>
            </div>


            <div class="contact_tab_btn_bg">
                <a class="contact_tab_btn_item office" :class="{selected: currentTab == 'office'}" @click="currentTab = 'office'">Văn phòng</a> 
                <a class="contact_tab_btn_item message" :class="{selected: currentTab == 'message'}" @click="currentTab = 'message'">Gởi mail</a>
            </div>

            <transition name="fade">
                <div 
                    class="contact_tab_bg contact_info_bg col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" 
                    v-show="currentTab == 'office'"
                    >
                    <div class="page_content_detail" v-html="page.Content"></div>
                </div>
            </transition>
            <transition name="fade">
                <div 
                    class="contact_tab_bg contact_form_bg col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12"
                    v-show="currentTab == 'message'"
                    id="contact-form"
                    >
                    <div class="contact_form_content_bg">
                        <div v-if="errors.length" class="alert alert-danger">
                            <p v-for="error in errors">{{error}}</p>
                        </div>
                        <div class="contact_txt_bg">
                            <input class="contact_txt" placeholder="Họ và Tên" id="ContactName" type="text" v-model="formData.ContactName">
                            <label id="name_error_mes"></label>
                        </div>
                        <div class="contact_txt_bg">
                            <input class="contact_txt" placeholder="Email" id="ContactEmail" type="text" v-model="formData.ContactEmail">
                            <label id="email_error_mes"></label>
                        </div>
                        <div class="contact_txt_bg">
                            <input class="contact_txt" placeholder="Số điện thoại" id="ContactPhone" type="text" v-model="formData.ContactPhone">
                            <label id="phone_error_mes"></label>
                        </div>
                        <div class="contact_txt_bg">
                            <input class="contact_txt" placeholder="Địa chỉ" id="ContactAddress" type="text" v-model="formData.ContactAddress">
                            <label id="address_error_mes"></label>
                        </div>
                        <div class="contact_txta_bg">
                            <textarea class="contact_txta" placeholder="Nội dung" id="Message" v-model="formData.Message"></textarea> 
                            <label id="content_error_mes"></label>
                        </div>
                    </div>
                    <div class="contact_button">
                        <a class="contact_button_send" @click="sendEmail"><span>Gởi</span></a>
                    </div>
                </div>
            </transition>
        </div>
    </div>

</template>

<script>
   
    import '@/assets/Styles/contact.css'

    // import '@/assets/Js/contact.js'

    export default {
        name: "LienHe",
        data(){
            return {
                page: {},
                currentTab: 'office',
                formData: {},
                errors: [],
            }
        },
        computed:{
            PHONE(){
                return this.$store.state.OPTIONS.CONTACTNUMBER;
            }
        },
        methods:{
            getPage(){
                let vm = this;

                $.ajax({
                    url: process.env.API_LOCATION + 'page',
                    type: 'GET',
                    dataType: 'json',
                    data: {slug: this.$route.path.substring(1)},
                    error(){
                        vm.page = {
                            Content: "Hãy thêm nội dung ở trang quản trị"
                        };
                    },
                    success(result){
                        if (result){
                            vm.page = result;
                        }
                        else vm.page = {
                            Content: "Hãy thêm nội dung ở trang quản trị"
                        };
                    }
                })
            },
            validate(){
                let isValid = true;
                this.errors = [];
                if(!this.formData.ContactName) {
                    this.errors.push("Bạn chưa nhập tên.");
                    isValid = false;
                }
                if(!this.formData.ContactPhone) {
                    this.errors.push("Bạn chưa nhập số điện thoại.");
                    isValid = false;
                }
                if(!this.formData.ContactEmail) {
                    this.errors.push("Bạn chưa nhập Email.");
                    isValid = false;
                }
                if(!this.formData.ContactAddress) {
                    this.errors.push("Bạn chưa nhập địa chỉ.");
                    isValid = false;
                }
                if(!this.formData.Message) {
                    this.errors.push("Bạn chưa nhập nội dung.");
                    isValid = false;
                }

                return isValid;
            },
            sendEmail(){
                let vm = this;

                if (this.validate()){
                    $.ajax({
                        url: process.env.API_LOCATION + 'contacts',
                        type: 'POST',
                        dataType: 'json',
                        headers: {
                            //'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        data: JSON.stringify(vm.formData),
                        error(){
                            vm.showError({message: `Không thể gửi email. Xin vui lòng liên hệ ${vm.PHONE} để được hỗ trợ.`});
                        },
                        success(result){
                            vm.showSuccess();
                        }
                    })
                }
     
            }
        },
        notifications: {
            showError: {
                title: 'Lỗi',
                message: 'Có lỗi xảy ra',
                type: 'error'
            },
            showSuccess: {
                title: 'Thành công',
                message: 'Đã gửi',
                type: 'success'
            }
        },
        mounted(){
            this.getPage();
        },
        head: {
            title: {
                inner: 'Liên hệ'
            },
        }
    }
</script>