

<template>

    <div class="body_bg background_white">

        <banner-static>
            <img :src="API_HOST + $store.state.OPTIONS.GALLERY_BANNER" alt="Thư viện ảnh">
        </banner-static>

        <div class="container page_bg padding_bottom" ref="gal_item1">     
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                                    
                <div class="page_title">THƯ VIỆN</div>
                <div class="row gallery_item_bg" v-if="gallery.Galleries && gallery.Galleries.length">         

                    <a v-for="item in gallery.Galleries" :href="API_HOST + item.ListImages[0].Image" :data-fancybox="item.Slug" :data-caption="item.Name" class="gallery_item room_img_view col-lg-4 col-md-4 col-sm-6 col-xs-12 " >
                        <div class="gallery_bg effect7">
                            <div class="gallery_img"><img :src="API_HOST + item.ListImages[0].Image"/></div>
                            <div class="gallery_info">
                                 <div class="readmore_btn">
                                </div>              
                            </div>
                            <div class="gallery_title">{{item.Name}}</div>                              
                        </div>
                    </a>
                    

                <div class="hidden" v-for="item in gallery.Galleries">
                    <a v-if="key > 0" v-for="(image, key) in item.ListImages" :href="API_HOST + image.Image" :data-fancybox="item.Slug" :data-caption="image.Name">
                        <img :src="API_HOST + image.Image"/>
                    </a>
                </div>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                             
                <div class="split_bar_news_bottom"></div>                              
            </div>
        </div>    
    </div>

</template>

<script>
    import '@/assets/Styles/Plugins/FancyBox/helpers/jquery.fancybox-thumbs.css'
    import '@/assets/Styles/Plugins/jquery.fancybox.min.css'
    import '@/assets/Js/jquery.fancybox.min.js'

    export default {
        name: "ThuVienAnh",
        data(){
            return {
                gallery: []
            }
        },
        mounted(){
            let vm = this;
            $.ajax({
                url: process.env.API_LOCATION + 'gallery',
                type: 'GET',
                dataType: 'json',
                success(s){
                    vm.gallery = s;
                }
            })
        },
        head: {
            title: {
                inner: 'Thư viện ảnh'
            },
        }
    }
</script>