<style>
    .home_news_sub_m {
        max-height: 180px;
    }
</style>

<template>

    <div class="body_bg">
        
        <banner-slider v-if="sliderLoaded" :slides="slides"></banner-slider>

        <div class="container page_bg">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="split_bar_news_top">
                    <router-link class="title_home" :to="{name: 'AllProject'}">Dự án</router-link>
                </div>
            </div>
            
            <div 
                v-if="projects"
                v-for="project in projects" 
                class="home_project_item_bg col-lg-4 col-md-4 col-sm-12 col-xs-12"
                v-match-heights="{
                    el: ['.project_item_content'],
                }" 
            >
                <router-link 
                    class="project_item_img" 
                    :to="{name: 'SingleProject', params: {'category_slug': project.ProjectCategoryVms[0].Slug, 'project_slug': project.Slug}}"
                >
                    <img :src="API_HOST + project.Image">
                    <div class="project_item_title">
                        {{ project.Name }}
                    </div>
                </router-link>
                <div class="project_item_content">
               
                    {{project.Description}}
                
                </div>
            </div>
      

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="split_bar_news_bottom">
                    <div class="news_carousel carousel_background">
                        <router-link class="other_new_readmore_btn" :to="{name: 'AllProject'}">Xem thêm</router-link>
                    </div>
                </div>
            </div>
        </div>

        <div class="news_bg">
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="split_bar_news_top">
                        <router-link class="title_home margin_top" :to="{name: 'AllNews'}">Tin tức nổi bật</router-link>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 carousel slide carousel-fade" id="home_new_carousel" v-if="news.length > 0">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="news_silde_item_bg">
                                <div ref="hotNews" class="news_item_bg col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <img :src="API_HOST + hotNews.Image" :title="hotNews.Title"> 
                                    
                                    <router-link 
                                        class="news_item_title" 
                                        :to="{
                                            name: 'SingleNews', 
                                            params: {
                                                category_slug: hotNews.ListCategory[0].Slug,
                                                news_id: hotNews.Id,
                                                news_slug: hotNews.Slug,
                                            }
                                        }">

                                        {{hotNews.Title}}

                                    </router-link>
                                </div>

                                <div class="no_padding_right col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="news_sub_item_bg home_news_sub_m col-lg-6 col-md-6 col-sm-12 col-xs-12" v-for="item in relatedNews" :key="item.Id">

                                        <img class="hidden-xs hidden-sm" :src="API_HOST + item.Image" :style="relatedNewStyles"> 

                                        <router-link 
                                            class="news_item_title home_news_title_m" 
                                            :to="{
                                                name: 'SingleNews', 
                                                params: {
                                                    category_slug: item.ListCategory[0].Slug,
                                                    news_id: item.Id,
                                                    news_slug: item.Slug,
                                                }
                                            }">

                                            {{item.Title}}

                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="split_bar_news_bottom">
                        <div class="news_carousel">
                            <router-link class="other_new_readmore_btn" :to="{name: 'AllNews'}">Xem thêm</router-link>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    import Vue from 'vue'
    import VueMatchHeights from 'vue-match-heights'

    Vue.use(VueMatchHeights, {
        disabled: [768],
    });

    export default {
        name: 'Homepage',
        data(){
            return {
                slides: [],
                sliderLoaded: false,
                projects: [],
                news: [],
                relatedNewStyles: null,
            }
        },
        computed:{
            hotNews(){
                return this.news[0];
            },
            relatedNews(){
                if (this.news.length > 1){
                    return this.news.slice( 1, this.news.length);
                }
                return {};
            },
        },
        methods: {
            getSlides(){

                let vm = this;

                $.ajax({
                    url: process.env.API_LOCATION + 'slider',
                    type: 'GET',
                    dataType: 'json',
                    success(result){
                        vm.slides = result;
                        vm.sliderLoaded = true;
                    }
                })
            },
            getHomeProjects(){
                let vm = this;
                $.ajax({
                    url: process.env.API_LOCATION + 'project',
                    type: 'GET',
                    dataType: 'json',
                    data: {pagesize: 3},
                    success(result){
                        vm.projects = result.Projects;
                    }
                })
            },
            getHomeNews(callback){
                let vm = this;
                $.ajax({
                    url: process.env.API_LOCATION + 'post',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        pagesize: 5
                    },
                    success(result){
                        vm.news = result.Posts;
                        if (typeof callback == 'function') callback();
                    }
                })
            },
            setRNewsHeight(){
                // Đảm bảo 100% đã render xong ảnh
                this.$nextTick(function(){
                    // Trừ 1/2 padding khối tin
                    let height = ((this.$refs.hotNews.clientHeight / 2) - 7.5) + 'px';
                    this.relatedNewStyles = { height }
                });
            }
        },
        mounted(){
            this.getSlides();
            this.getHomeProjects();
            this.getHomeNews(this.setRNewsHeight);
        },
    }
</script>