<template>
	<div class="body_bg">
		<banner-static>
			<img :src="API_HOST + $store.state.OPTIONS.NEWS_BANNER" title="News">
		</banner-static>

		<div class="container page_bg padding_bottom">
			<news-sidebar @datainited="getNewsCategory"></news-sidebar>
					
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 margin_top_mb">
				<div class="page_title">
					<router-link :to="{name: 'AllNews'}">Tin tức</router-link>
					<span v-if="current_category"></span>
                    <router-link v-if="current_category" :to="{name: 'CategoryProject', params: {category_slug: current_category.Slug}}">{{current_category.Name}}</router-link>
				</div>
				<div class="page_content_detail">
					<div class="news_items">

						<div class="news_item" v-for="news in news_list.Posts" :key="news.id">
							<router-link 
								class="news_img col-lg-4 col-md-4 col-sm-12 col-xs-12 no_padding_right" 
								:to="{name: 'SingleNews', params: {category_slug: news.ListCategory[0].Slug, news_id: news.Id , news_slug: news.Slug}}"
							>
								<img :src="API_HOST + news.Image">
							</router-link>
							<div class="news_info col-lg-8 col-md-8 col-sm-12 col-xs-12">
								<router-link class="news_title" :to="{name: 'SingleNews', params: {category_slug: news.ListCategory[0].Slug, news_slug: news.Slug, news_id: news.Id}}">{{news.Title}}</router-link>
								<div class="split_bar_news"></div>
								<div class="news_content des_string">
									{{news.Description | excerpt}}
						
								</div>
							</div>
						</div>

						<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 col-xs-12">
							<div class="split_bar_page_bottom"></div>
							<div class="page_navigation_bg">
								<a @click="pageNav(n)" :class="{selected: current_page == n}" v-for="n in news_list.TotalPage">{{n}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {excerpt} from '@/filters/index'
	import NewsSidebar from '@/components/sidebar/news-sidebar'

	export default {
		data(){
			return {
				news_list: [],
				news_categories: [],
				current_page: null,
			}
		},
		components: {
			NewsSidebar
		},
		computed:{
			category_slug(){
				return this.$route.params.category_slug;
			},
			current_category(){
                let vm = this;

                let current_slug = vm.category_slug;

                let matched = null;

                $.each(vm.news_categories, function(index, category) {

                    if (current_slug == category.Slug) {
                        matched = category;
                    };
                });

                return matched;
            }
		},
        filters: {
        	excerpt
        },
        methods: {
        	pageNav(page){
                
                this.$router.replace({query:{page}});
                
            },
            getNewsList(category_slug){
                let vm = this;

                let page = this.current_page;
                // Khong truyen category thi lay het
                if (category_slug == undefined || !category_slug){
                    $.ajax({
                        url: process.env.API_LOCATION + 'post',
                        type: 'GET',
                        dataType: 'json',
                        data :{
                        	page
                        },
                        success: (result) => {
                            vm.news_list = result;
                        }
                    })
                }
                else 
                    $.ajax({
                        url: process.env.API_LOCATION + 'postcategory',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                        	slug: category_slug,
                        	page
                        },
                        success: (result) => {
                            vm.news_list = result;
                        }
                    })
            },
           	getNewsCategory(news_categories){
           		this.news_categories = news_categories;
           	}
        },
        mounted(){
  		   	this.current_page = this.$route.query.page ? this.$route.query.page : 1;
            this.getNewsList(this.category_slug);
        },
        watch: {
            '$route' (to, from) {
            	this.current_page = this.$route.query.page ? this.$route.query.page : 1;
                this.getNewsList(to.params.category_slug);
            }
        },
        head: {
            title: {
                inner: 'Tin tức bất động sản'
            },
        }
	}
</script>