<template>

    <div class="body_bg background_white">
        <banner-static>
            <img :src="API_HOST + $store.state.OPTIONS.PROJECT_BANNER" title="Dự án">
        </banner-static>

        <div class="container page_bg padding_bottom">

            <app-sidebar>
     
                <router-link 
                    v-for="category in project_categories"
                    :to="{name: 'CategoryProject', params: {category_slug: category.Slug}}" class="left_menu_category_item project_menu_item1"
                >
                    {{category.Name}}<span></span>
                </router-link>
       
            </app-sidebar>
                   

            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 margin_top_mb">
                
                <div class="page_title">
                    <router-link :to="{name: 'AllProject'}">Dự án</router-link>
                    <span v-if="currentCategory"></span>
                    <router-link v-if="currentCategory" :to="{name: 'CategoryProject', params: {category_slug: currentCategory.Slug}}">{{currentCategory.Name}}</router-link>
                </div>

                <div class="page_content_detail">

                    <div class="project_item_bg hidden-xs" v-for="project in projects.Projects">
                        <router-link 
                            :to="{name: 'SingleProject', params: {category_slug: project.ProjectCategoryVms[0].Slug, project_slug: project.Slug}}" 
                            class="project_img col-lg-5 col-md-6 col-sm-12 col-xs-12 no_padding_right">
                            <img :src="API_HOST + project.Image"/>
                        </router-link>

                        <div class="project_info col-lg-7 col-md-6 col-sm-12 col-xs-12">
                            <router-link :to="{name: 'SingleProject', params: {category_slug: project.ProjectCategoryVms[0].Slug, project_slug: project.Slug}}" class="project_title">
                                {{project.Name}}
                            </router-link>
                            <div class="project_location col-lg-5 col-md-5 col-sm-5 col-xs-12 no_padding_right">{{project.ProvinceVm.Name}}</div>
                            <div class="project_price col-lg-7 col-md-7 col-sm-7 col-xs-12 no_padding_right">Giá từ: <span>{{project.StartPrice | number_format}}</span> VNĐ</div>
                            <div class="split_bar_project"></div>
                            <div class="project_content">
                                {{project.Description}}
                            </div>
                            <router-link :to="{name: 'SingleProject', params: {category_slug: project.ProjectCategoryVms[0].Slug, project_slug: project.Slug}}" class="readmore_link visible-lg">Xem thêm</router-link>
                        </div>
                    
                    </div>
                    
                    <div class="project_item_bg visible-xs no_padding_right" v-for="project in projects.Projects">
                        <router-link 
                            :to="{name: 'SingleProject', params: {category_slug: project.ProjectCategoryVms[0].Slug, project_slug: project.Slug}}"
                            class="project_img col-lg-4 col-md-4 col-sm-12 col-xs-12 no_padding_right"
                        >
                            <img :src="API_HOST + project.Image"/>
                        </router-link>
                        <div class="project_info">
                            <router-link :to="{name: 'SingleProject', params: {category_slug: project.ProjectCategoryVms[0].Slug, project_slug: project.Slug}}" class="project_title">{{project.Name}}
                            </router-link>

                            <div class="project_location">{{project.Location}}</div>
                            <div class="project_price mobile">Giá từ: <span>{{project.StartPrice | number_format}}</span> VNĐ</div>
                            
                            <div class="project_content">
                               {{project.Description}}
                            </div>
                        </div>
                    </div>

        
                    
                </div>
            </div>
            
            <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="split_bar_page_bottom"></div>
                <div class="page_navigation_bg project">
                    <a @click="pageNav(n)" :class="{selected: current_page == n}" v-for="n in projects.TotalPage">{{n}}</a>
                </div>
            </div>    
        </div>
    </div>

</template>

<script>

    import {number_format} from '@/filters/index'

    export default {
        filters:{
            number_format
        },
        data(){
            return {
                projects: [],
                project_categories: [],
                current_page: null,
            }
        },
        methods: {
            reset_page(){
                console.log("RESET");
                this.current_page = 1;
            },
            pageNav(page){
                this.$router.replace({query:{page}});
            },
            getProjects(category_slug){
                let vm = this;

                let page = vm.current_page;

                console.log(category_slug);

                if (category_slug == undefined || !category_slug){
                    $.ajax({
                        url: process.env.API_LOCATION + 'project',
                        type: 'GET',
                        dataType: 'json',
                        data:{
                            page
                        },
                        success(result){
                            vm.projects = result;
                        }
                    })
                }
                else {

                    $.ajax({
                        url: process.env.API_LOCATION + 'projectcategory',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            slug: category_slug,
                            page
                        },
                        success(result){
                            vm.projects = result;
                        }
                    })
                }   
            },
            getProjectCategories(){
                let vm = this;

                $.ajax({
                    url: process.env.API_LOCATION + 'projectcategory',
                    type: 'GET',
                    dataType: 'json',
                    success(r){
                        vm.project_categories = r;
                    }
                })
            },
        },
        computed: {
            currentSlug(){
                return this.$route.params.category_slug;  
            },
            currentCategory(){
                
                let vm = this;

                let current_slug = vm.currentSlug;

                let matched = null;

                $.each(vm.project_categories, function(index, category) {
                    if (current_slug == category.Slug) {
                        matched = category;
                    };
                });

                return matched;
            }
        },
        mounted(){
            this.current_page = this.$route.query.page ? this.$route.query.page : 1;

            let slug = this.$route.params.category_slug;

            this.getProjects(slug);
            this.getProjectCategories();
        },
        watch: {
            '$route' (to, from) {

                this.current_page = this.$route.query.page ? this.$route.query.page : 1;

                this.getProjects(to.params.category_slug);
            }
        },
        head: {
            title: {
                inner: 'Dự án bất động sản'
            },
        }
    }
</script>