<template>
	<div class="body_bg background_white">

		<banner-static v-if="!is_child_page">
			<img :src="API_HOST + $store.state.OPTIONS.CAREER_BANNER" alt="">
		</banner-static>

		<banner-static v-if="is_child_page">
			<img :src="API_HOST + childPage.Image" alt="">
		</banner-static>

		<div class="container page_bg padding_bottom">
			<recruitment-sidebar></recruitment-sidebar>

			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" v-if="is_child_page === false">
				<div class="news_item" v-for="job in jobs.Jobs">

					<router-link class="news_img col-lg-4 col-md-4 col-sm-12 col-xs-12 no_padding_right" :to="{name: 'SingleRecruitment', params: {slug: job.Slug}}">
						<img :src="API_HOST + job.Image">
					</router-link>

					<div class="news_info col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<router-link class="news_title" :to="{name: 'SingleRecruitment', params: {slug: job.Slug}}">{{job.Title}}</router-link>
						<div class="split_bar_news"></div>
						<div class="news_content des_string">
							{{job.Description}}
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" v-if="is_child_page == true">
				<div class="tab_content_item_bg">
					<h1 class="page_title"">
						{{childPage.Title}}
					</h1>
					<div class="page_content">
						<div class="img_content" v-html="childPage.Content"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import RecruitmentSidebar from '@/components/sidebar/recruitment-sidebar'

	export default {
		data(){
			return {
				jobs: [],
				childrenPages: [],
				childPage: {},
			}
		},
		components: {
			RecruitmentSidebar
		},
		computed:{
			is_child_page(){
				return (this.$route.params.slug == undefined) ? false : true;
				// Debug
				// return true;
			},
		},
		methods:{

			init(){
				if (this.is_child_page == false){
					this.getJobs();
				}
				else {
					this.getChildPage();
				}
			},

			getJobs(){
				let vm = this;

				$.ajax({
					url: process.env.API_LOCATION + 'jobs',
					type: 'GET',
					dataType: 'json',
					data: {pagesize: 99},
					success(s){
						vm.jobs = s;
					}
				})
				
			},

            getChildPage(){
                let vm = this;
                $.ajax({
                    url: process.env.API_LOCATION + 'page',
                    type: 'GET',
                    dataType: 'json',
                    data: {slug: vm.$route.params.slug},
                    success(result){
                        vm.childPage = result;
                    }
                })
            }
		},
		watch: {
			'$route'(){
				this.init();
			}
		},
		mounted(){
			this.init();
		},
		head: {
            title: {
                inner: 'Tuyển dụng'
            },
        }
	}
</script>