<template>
	
	<div class="body_bg background_white">
		<div class="page_img margin_top_page_mb">
			<div class="wallpaper_img"></div>
			<img :src="API_HOST + $store.state.OPTIONS.CAREER_BANNER"/>
		</div>
		<div class="container page_bg padding_bottom">
			<recruitment-sidebar></recruitment-sidebar>

			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				
				<div class="tab_content_item_bg">
					<div class="page_title">{{job.Title}}</div>
					<div class="page_content" v-html="job.Content"></div>
				</div>
				
			</div>
			
			<div class="news_other_bg col-lg-9 col-md-9 col-sm-8 col-xs-12" v-if="job.RelatedJobs != []">
				
				<div class="split_bar_news_top"><div class="news_other_title">Các tin khác</div></div>
				<div class="news_other_item_bg">
					
					<router-link v-for="rjob in job.RelatedJobs" :to="{name: 'SingleRecruitment', params: {slug: rjob.Slug}}" class="bubble-float-right">	{{rjob.Title}}<span>{{rjob.CreatedDate}}</span>
					</router-link><br>
					
				</div>
				
				<!-- <a class="other_new_readmore_btn">Xem thêm</a> -->
				
			</div>
			
		</div>
	</div>

</template>

<script>
	import RecruitmentSidebar from '@/components/sidebar/recruitment-sidebar'

	export default {
		data(){
			return {
				job: []
			}
		},
		components: {
			RecruitmentSidebar
		},
		methods:{
			getJob(){
				let vm = this;
				const slug = this.$route.params.slug;

				$.ajax({
					url: process.env.API_LOCATION + 'jobs',
					type: 'GET',
					dataType: 'json',
					data: {
						pagesize: 25,
						slug
					},
					success(s){
						vm.job = s;
					}
				})
			}
		},
		created(){
			this.getJob();
		}
	}
</script>