<style>
	.project img {
		max-width: 100%;
		height: auto!important;
	}
</style>

<template>
	<div class="body_bg background_white">
		<div class="page_img margin_top_page_mb">
			<div class="wallpaper_img"></div>
			<img :src="API_HOST + project.Image"/>
		</div>

		<div class="container page_bg padding_bottom">
			
			<app-sidebar>
			
				<div ref="spy">
					<a href="#gioi-thieu" :class="{selected: currentSection == 0}" v-scroll-to="{ el: '#gioi-thieu', offset: -80 }" class="left_menu_project_item">Giới thiệu<span></span></a>
			
					<a href="#tong-quan" :class="{selected: currentSection == 1}" v-scroll-to="{ el: '#tong-quan', offset: -80 }" class="left_menu_project_item">Tổng quan dự án<span></span></a>
			
					<a href="#vi-tri" :class="{selected: currentSection == 2}" v-scroll-to="{ el: '#vi-tri', offset: -80 }" class="left_menu_project_item">Vị trí<span></span></a>
				
					<a href="#tien-ich" :class="{selected: currentSection == 3}" v-scroll-to="{ el: '#tien-ich', offset: -80 }" class="left_menu_project_item">Tiện ích<span></span></a>
		
					<a href="#tien-do" :class="{selected: currentSection == 4}" v-scroll-to="{ el: '#tien-do', offset: -80 }" class="left_menu_project_item">Tiến độ<span></span></a>
				</div>

			</app-sidebar>


			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				
				<div class="tab_content_item_bg clearfix">
					<div class="page_title">
						<router-link :to="{name: 'AllProject'}">Dự án</router-link> <span></span>{{project.Name}}
					</div>
					<div class="page_content">
						<div class="page_break"></div>
						<div class="slider-wrapper theme-default project_slide_bg">
						</div>
					</div>
				</div>

				<div class="page_content_detail project" ref="project_detail">
					
					<div class="tab_content_item_bg project">
						<div id="gioi-thieu" class="about_title project">Giới thiệu</div>
						<div class="about_content" v-html="project.Introduce">
						</div>
					</div>
					
					<div class="tab_content_item_bg project">
						<div id="tong-quan" class="about_title project">Tổng quan dự án</div>
						<div class="about_content" v-html="project.Overview"></div>
					</div>
					
					<div class="tab_content_item_bg project">
						<div id="vi-tri" class="about_title project">Vị trí</div>
						<div class="about_content" v-html="project.Location"></div>
					</div>
					
					<div class="tab_content_item_bg project">
						<div id="tien-ich" class="about_title project">Tiện ích</div>
						<div class="about_content" v-html="project.Ultil"></div>
					</div>
					
					<div class="tab_content_item_bg project">
						<div id="tien-do" class="about_title project">Tiến độ</div>
						<div class="about_content" v-html="project.Progress"></div>
					</div>
					
				</div>
				
				<div class="news_other_bg col-lg-12 col-md-12 col-sm-12 col-xs-12 no_padding_right">
					
					<div class="split_bar_news_top"><div class="news_other_title">Các dự án khác</div></div>
					<div class="news_other_item_bg">
						
						<router-link
							v-for="related_project in project.RelatedProjects" 
							:key="related_project.Id"
							:to="{name: 'SingleProject', params: {category_slug: project.ProjectCategoryVms[0].Slug, project_slug: related_project.Slug}}"  
							class="bubble-float-right "
							style="display: block"
						>
							{{related_project.Name}}

						</router-link>
						
					</div>
					
					<!-- <a class="other_new_readmore_btn">Xem thêm</a> -->
					
				</div>
			</div>		
		</div>
	</div>
</template>

<script>

	let getProject = (project_slug) => {
        return $.ajax({
            url: process.env.API_LOCATION + 'project',
            type: 'GET',
            dataType: 'json',
            data: {slug: project_slug},
        })
    }

	export default {
		name: "SingleProject",
		data(){
			return {
				project: {},
				currentSection: null,
				sectionOffsets: [],
			}
		},
        methods: {
            getProject,
            calcOffset(){
            	this.$nextTick(function(){
	            	let offsets = [];
					let sections = $('.page_content_detail .tab_content_item_bg');
					$.each(sections, function(index, section) {
						 offsets.push($(section).offset().top);
					});
					this.sectionOffsets = offsets;
				})
            },
            spy(event, offset = 80){
            	this.calcOffset();
            	let doc = document.documentElement;
            	let scrollTop = (window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0) + offset;
            	// console.log(scrollTop);
            	let length = this.sectionOffsets.length - 1;

            	for (var i = 0; i < length; i++) {
					if (scrollTop > this.sectionOffsets[i] && scrollTop < this.sectionOffsets[i + 1])
						this.currentSection = i;
					if (scrollTop > this.sectionOffsets[length])
						this.currentSection = length;
				}
            }
        },
        beforeRouteEnter (to, from, next) {
            let project_slug 		= to.params.project_slug;
            let project_promise  	= getProject(project_slug);

            console.log("GETTING DATA");

            let results = project_promise.then(project => {
                next(vm => {
                    vm.project = project;
                    console.log("Done Getting Data");
                })
            }).fail( error => {
            	console.log("FAIL");
            	next(vm => {
            		vm.$router.push({name: "AllProject"});
            	})
            });
        },
        watch: {
            '$route' (to, from) {
            	let vm = this;

                this.getProject(to.params.project_slug).then((project) => {
                	vm.project = project;
                	vm.currentSection = null;
                	vm.calcOffset();
                });
            }
        },
        mounted(){
        	window.addEventListener('scroll', this.spy);

        	this.calcOffset();
       
        },
      	beforeDestroy() {
		    window.removeEventListener('scroll', this.spy);
	  	}
	}
</script>