<template>
	<div class="body_bg" v-if="news">
		<banner-static>
			<img :src="API_HOST + news.Image" title="News"/>
		</banner-static>

		<div class="container page_bg padding_bottom">
			
			<news-sidebar></news-sidebar>
					
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				<div class="tab_content_item_bg">
					<div class="page_title" v-if="current_category">
						<router-link :to="{name: 'AllNews'}">Tin tức</router-link>
						<span></span>
						<router-link :to="{name: 'CategoryNews', params:{category_slug: current_category.Slug}}">{{current_category.Name}}</router-link>
					</div>
					
					<div class="page_content_detail">
						<div class="news_title_details">{{news.Title}}</div>
						<div class="about_content" v-html="news.Content"></div>
					</div>
				</div>
				<div class="news_other_bg col-lg-12 col-md-12 col-sm-12 col-xs-12 no_padding_right">
					
					<div class="split_bar_news_top"><div class="news_other_title">Các tin khác</div></div>
					<div class="news_other_item_bg">
						
						<router-link v-for="relatedPost in news.RelatedPosts" :to="{name: 'SingleNews', params: {category_slug: news.ListCategory[0].Slug,news_id: relatedPost.Id ,news_slug: relatedPost.Slug}}" class="bubble-float-right ">{{relatedPost.Title}} <span>({{relatedPost.CreatedDate}})</span><br></router-link>
						
						
					</div>
					
					<!-- <a class="other_new_readmore_btn">Xem thêm</a> -->
					
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	let getNews = (news_id) => {
        // var vm = this;
        return $.ajax({
            url: process.env.API_LOCATION + 'post',
            type: 'GET',
            dataType: 'json',
            data: {
            	id: news_id
            }
        })
    }

    import NewsSidebar from '@/components/sidebar/news-sidebar'

	export default {
		name: "SingleNews",
		data(){
			return {
				news: null,
			}
		},
		components:{
			NewsSidebar
		},
		computed:{
			current_category(){
				let vm = this;
				if (this.news){
				
					let current_category;

					$.each(this.news.ListCategory, function(index, category) {
						if (vm.$route.params.category_slug == category.Slug){
							current_category = category;
							return
						}
					});

					return current_category;
				}
			}
		},
        methods: {
            getNews
        },
        beforeRouteEnter (to, from, next) {
            let news_id 	  = to.params.news_id;
            let news_promise  = getNews(news_id);;

            let self = this;

            let results = news_promise.then((news) => {

            	if (news){
            		next(vm => {
            			vm.news = news;
            		})
            	}
            	else {
            		next(vm => {
            			vm.$router.push({name: 'AllNews'});
            		})
            	}
            }, () => {
            	next(vm => {
        			vm.$router.push({name: 'AllNews'});
        		})
            })
        },
        watch: {
            '$route' (to, from) {
            	let vm = this;

                this.getNews(to.params.news_id).then(news => {
                	vm.news = news;
                });
            }
        },
        // head: {
            // title: {
                // inner: this.news,
            // },
        // }
	}
</script>