<template>
    
    <div class="body_bg background_white">
        <banner-static>
            <img :src="API_HOST + page.Image"/>
        </banner-static>
        
        <div class="container page_bg padding_bottom">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="page_title">{{page.Title}}</div>
                <div class="support_info_bg" v-html="page.Content"></div>
            </div>

            <app-sidebar></app-sidebar>
            
        </div>
    </div>

</template>

<script>

    let getPage = (slug) => {
        return $.ajax({
            url: process.env.API_LOCATION +'page',
            type: 'GET',
            dataType: 'json',
            data: {slug},
        })
    }

    export default {
        name: "Support",
        data(){
            return {
                page: {}
            }
        },
        methods:{
            getPage
        },
        beforeRouteEnter (to, from, next) {
            getPage(to.params.slug).then(page => {
                if (page) next(vm => {
                    vm.page = page;
                });
                else next(false);
            }).fail(() => {
                next(vm => {
                    vm.$router.push({name: "Home"});
                })
            });
        },
        watch:{
            '$route'(to, from){
                let vm = this;
                this.getPage(to.params.slug).then(page => {
                    console.log(page);
                    if (page) vm.page = page;
                    else vm.$router.push({name: "Home"});
                });
            }
        },
    }
</script>