

<template>

    <div class="body_bg background_white">

        <banner-static>
            <img :src="API_HOST + $store.state.OPTIONS.GALLERY_BANNER" alt="Thư viện ảnh">
        </banner-static>

        <div class="container page_bg padding_bottom" ref="gal_item1">     
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 

                <div class="page_title">THƯ VIỆN - VIDEO</div>

                <div class="row gallery_item_bg" v-if="videos.Videos && videos.Videos.length">
                    
                    <a v-for="item in videos.Videos" :href="item.VideoUrl" :data-fancybox="item.VideoUrl" :data-caption="item.Description" class="gallery_item various iframe room_img_view col-lg-4 col-md-4 col-sm-6 col-xs-12 " >
                        <div class="gallery_bg effect7">
                            <div class="gallery_img"><img :src="API_HOST + item.Image"/></div>
                            <div class="gallery_info">
                                 <div class="readmore_btn">
                                </div>              
                            </div>
                            <div class="gallery_title">{{item.Title}}</div>                              
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                             
                <div class="split_bar_page_bottom"></div>
                <div class="page_navigation_bg">
                    <a @click="pageNav(n)" :class="{selected: current_page == n}" v-for="n in videos.TotalPage">{{n}}</a>
                </div>                       
            </div>
        </div>    
    </div>

</template>


<script>
    import '@/assets/Styles/Plugins/FancyBox/helpers/jquery.fancybox-thumbs.css'
    import '@/assets/Styles/Plugins/jquery.fancybox.min.css'
    import '@/assets/Js/jquery.fancybox.min.js'

    export default {
        name: "ThuVienVideo",
        data(){
            return {
                videos: [],
                current_page: null,
                pagesize: 9
            }
        },
        methods : {
            pageNav(page){
                
                this.$router.replace({query:{page}});
                
            },
            getVideos() {

                let vm = this;

                let page = this.current_page;

                let pagesize = this.pagesize;

                $.ajax({
                    url: process.env.API_LOCATION + 'videos',
                    type: 'GET',
                    dataType: 'json',
                    data :{
                        page,
                        pagesize
                    },
                    success(res){
                        vm.videos = res;
                    }
                })
            }
        },
        mounted(){

            this.current_page = this.$route.query.page ? this.$route.query.page : 1;

            this.getVideos();
            
        },
        watch: {
            '$route' (to, from) {
                this.current_page = this.$route.query.page ? this.$route.query.page : 1;
                this.getVideos();
            }
        },
        head: {
            title: {
                inner: 'Thư viện video'
            },
        }
    }
</script>