<template>

    <div class="home_menu_bg hidden-xs hidden-sm">
        <div class="container">
            <router-link class="logo" to="/">
                <img :src="API_HOST + OPTIONS.LOGO">
            </router-link>
            <div class="main_menu_bg">
                <nav class="cl-effect-17">

                    <div class="menu_item" :class="{'parent_menu_item': menu.ChildrenMenu}" v-for="menu in reversed_menu_items" :key="menu.id">
                        <router-link :to="menu.Url" :target="menu.Target">
                            {{menu.Text}}
                        </router-link>
                        <div v-if="menu.ChildrenMenu.length > 0" class="sub_menu_bg">
                            <div class="sub_menu_item_bg">
                                <router-link :to="menu.Url + child.Url" v-for="child in menu.ChildrenMenu">
                                    {{child.Text}}
                                </router-link>
                            </div>
                        </div>
                    </div>

                </nav>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "HeaderDesktop",
        props: {
            menu_items: Array
        },
        computed: {
            reversed_menu_items(){
                return this.menu_items.slice(0).reverse();
            },
            OPTIONS(){
                return this.$store.state.OPTIONS;
            }
    
        },
        mounted(){
            $(document).on('mouseenter mouseleave', '.parent_menu_item', function(event) {
                if (event.type === 'mouseenter'){

                    $(this).find('.sub_menu_bg').stop().slideDown();
                    var sub_menu_item_bg = $(this).find('.sub_menu_item_bg');
                    var sub_menu_left = $(this).offset().left - (sub_menu_item_bg.width() / 2) + 16;
                    sub_menu_item_bg.css({ marginLeft: sub_menu_left + 'px' });
                    if (sub_menu_left + sub_menu_item_bg.width() > $('.container').width()) {
                        var sub_menu_right = ($(window).width() - $('.container').width()) / 2;
                        sub_menu_item_bg.css({ marginLeft: 0, float: 'right', marginRight: sub_menu_right - 16 + 'px' });
                        //alert(sub_menu_right);
                    }
                }
                else {
                    $(this).find('.sub_menu_bg').stop().slideUp();
                }
            });

            // console.log(this.reversed_menu_items);
        },
        methods: {
            toggleMenu(event){
                $(".header_menu_bg_m .main_menu_bg_m").slideToggle();
            }
        }
    }
</script>