<template>
    <div class="header_menu_bg_m visible-xs visible-sm">
        <router-link class="mobile logo" to="/">
            <img height="32" :src="API_HOST + OPTIONS.LOGO">
        </router-link> 

        <a class="menu_btn_m" @click="toggleMenu"></a>

        <div class="main_menu_bg_m">
            <router-link v-for="menu in menu_items" :key="menu.id" :to="menu.Url" class="menu_item">
                {{menu.Text}}
            </router-link> 
            
            <div class="lang_menu_bg_mb">
                <div class="lang_menu_bg">
                    <div class="lang_menu_title">
                        <a class="en" title="English"><span></span>English</a>
                    </div>
                </div>
                <div class="support">
                    <a class="facebook" href="#" target="_blank" title="Facebook"></a> 
                    <a class="twitter" href="#" target="_blank" title="Twitter"></a> <a class="skype" href="#" target="_blank" title="Skype"></a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "HeaderMobile",
        props: {
            menu_items: Array
        },
        computed: {
            reversed_menu_items(){
                return this.menu_items.slice(0).reverse();
            },
            OPTIONS(){
                return this.$store.state.OPTIONS;
            }
        },
        watch: {
            '$route'(){
                $(".header_menu_bg_m .main_menu_bg_m").slideUp();   
            }
        },
        methods: {
            toggleMenu(event){
                $(".header_menu_bg_m .main_menu_bg_m").slideToggle();
            }
        }
    }
</script>
