<template>
	 <!--Footer start-->
	<div class="footer_bg">
		<div class="container">
			<div class="footer_info col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<a class="google_map footer_info_title" target="_blank" :href="OPTIONS.CONTACT_MAP">{{OPTIONS.COMPANYNAME}} <span></span></a>
				<div class="footer_info_content">
					<span class="hidden-xs">Địa chỉ:</span> {{OPTIONS.ADDRESS}}<br>
					Tel: {{OPTIONS.CONTACTNUMBER}} - Fax: {{OPTIONS.CONTACTFAX}}<br>
					<a :href="API_HOST + OPTIONS.LOGO_FOOTER_URL" title="DMCA.com Protection Status">
						<img alt="DMCA.com Protection Status" :src="API_HOST + OPTIONS.LOGO_FOOTER_URL">
					</a>
				</div>
			</div>
			<div class="footer_menu col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-xs hidden-sm">
				<router-link v-for="menu in menus" :to="menu.Url">{{menu.Text}}<br></router-link>
				
			</div>
		</div>
		<div class="footer_partner hidden-xs hidden-sm" v-if="partners">
			<div class="container">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="partner_title_bg">
						ĐỐI TÁC &amp; KHÁCH HÀNG
					</div>

					<carousel-simple target="footer-partner" id="footer-partner" class="partner_bg">
						<ul>
							<li v-for="partner in partners">
								<a :href="partner.Url" target="_blank">
									<img class="grayscale grayscale-fade" :alt="partner.Name" :src="API_HOST + partner.Logo">
								</a>
							</li>
						</ul>
					</carousel-simple>

				</div>
			</div>
		</div>
		<div class="container">
			<div class="copy_right col-lg-6 col-md-6 col-sm-12 col-xs-12">
				{{OPTIONS.COPYRIGHT}}.<br class="visible-xs">
			</div>
		</div>
	</div>
	<!--Footer END-->
</template>

<script>
	import CarouselSimple from '@/components/carousel/carousel-simple'

	export default {
		name: "AppFooter",
		data(){
			return {
				partners: null,
				menus: [],
			}
		},
		computed: {
            OPTIONS(){
                return this.$store.state.OPTIONS;
            }
        },
		components: {
			CarouselSimple
		},
		created(){
			let vm = this;

			$.ajax({
				url: process.env.API_LOCATION + 'partner',
				type: 'GET',
				dataType: 'json',
				success(partners){
					vm.partners = partners;
				}
			})

			$.ajax({
				url: process.env.API_LOCATION + 'menu',
				type: 'GET',
				dataType: 'json',
				data: {menu: 'footermenu'},
				success(r){
					vm.menus = r;
				}
			})			
		}
	}
</script>