<style scoped>
	.fixed_menu_bg.affix {
		top: 72px;
	}

</style>

<template>
	<div class="project_menu col-lg-3 col-md-3 col-sm-4 col-xs-12">

		<affix ref="sidebar" :offset-top="80" class="fixed_menu_bg clearfix">
			<div class="split_bar_news_top">
				<div class="page_title_menu_left">{{title}}</div>
			</div>

			<div class="left_menu_bg">
				<slot/>
			</div>

			<div class="hotline_bg col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="img_hotline"></div>
				<div class="info_hotline">
					Hotline: <a :href="'tel:' + OPTIONS.CONTACTNUMBER"><span>{{OPTIONS.CONTACTNUMBER}}</span></a><br/>
					<a :href="'mailto:' + OPTIONS.CONTACTMAIL">{{OPTIONS.CONTACTMAIL}}</a>
				</div>
			</div>
		</affix>
	</div>
</template>

<script>
	import affix from '@/components/affix'

	export default {
		name: "Sidebar",
		props: ["title"],
		computed: {
			OPTIONS(){
				return this.$store.state.OPTIONS;
			}
		},
		components:{
			affix
		},
	}
</script>