<style>
    .home_menu_bg.fixed {
        position: fixed;
        top: 0;
        left: 0;
    }
    .support {
        float: right;
    }
    .hot_mail {
        border-right: none;
    }
</style>

<template>
    <div class="header_bg clearfix">
        <div class="support_online_bg hidden-xs hidden-sm">
            <div class="container">
                <a class="hot_phone" :href="'tel:' + OPTIONS.CONTACTNUMBER">{{OPTIONS.CONTACTNUMBER}}</a> 
                <a class="hot_mail" :href="'mailto:' + OPTIONS.CONTACTMAIL">{{OPTIONS.CONTACTMAIL}}</a>
                <div class="support">
                    <a class="facebook" :href="OPTIONS.FACEBOOK" target="_blank" title="Facebook"></a> 
                    <a class="google" :href="OPTIONS['GOOGLE-PLUS']" target="_blank" title="Google +"></a> 
                    <a class="youtube" :href="OPTIONS.YOUTUBE" target="_blank" title="Youtube"></a>
                </div>
            </div>
        </div>

        <header-desktop :class="menuClasses" :menu_items="menu_items"></header-desktop>

        <div class="support_online_bg visible-xs visible-sm">
            <div class="container">
                <a class="hot_phone" :href="'tel:' + OPTIONS.CONTACTNUMBER">{{OPTIONS.CONTACTNUMBER}}</a> 
                <a class="hot_mail" :href="'mailto:' + OPTIONS.CONTACTMAIL">{{OPTIONS.CONTACTMAIL}}</a>
            </div>
        </div>
        
        <header-mobile :menu_items="menu_items"></header-mobile>
    </div>
</template>

<script>
    import Vue from 'vue'

    import HeaderMobile from '@/components/header/header-mobile'
    import HeaderDesktop from '@/components/header/header-desktop'

    export default {

        components: {
            HeaderMobile,
            HeaderDesktop
        },
        data(){
            return {
                menu_items : [],
                scrollTop: 0,
                menuBreakpoint: 36,
                menuClasses: "",
            }
        },
        computed: {
            OPTIONS(){
                return this.$store.state.OPTIONS;
            }
        },
        methods : {
            fetchMenu(){
                var vm = this;

                $.ajax({
                    url: process.env.API_LOCATION + 'menu',
                    type: 'GET',
                    dataType: 'json',
                    data: {menu: 'headermenu'},
                    success: function(result){
                        vm.menu_items = result;
                    }
                })
            },
            handleScroll(e){
                this.scrollTop = (window.pageYOffset !== undefined) ? window.pageYOffset
                  : (document.documentElement || document.body.parentNode || document.body)
                  .scrollTop;

                if (this.scrollTop > this.menuBreakpoint) this.menuClasses = "fixed";
                else this.menuClasses = "";
            },
        },
        beforeDestroy(){
            document.removeEventListener('scroll', this.handleScroll);
        },
        mounted(){
            document.addEventListener('scroll', this.handleScroll);
            this.fetchMenu();
        },
    }

</script>