<template>
	<div class="carousel">
		<slot/>
	</div>
</template>

<script>

	import '@/assets/Js/jcarousellite.min.js'

	export default {
		name: "CarouselSimple",
		props: ["target"],
		mounted(){
			$('#' + this.target).jCarouselLite({
				circular: true,
				mouseWheel: true,
				auto: true,
		  		timeout: 3000,
				swipe:true,
				speed: 800,
				autoWidth: true,
				visible:3,
				responsive:true
			});
		}
	}
</script>