<template>
	<app-sidebar>
		<router-link 
			v-for="category in news_categories" 
			class="left_menu_category_item project_menu_item"
			:to="{name: 'CategoryNews', params:{category_slug: category.Slug}}"
			:class="{selected: category.Slug == $route.params.category_slug}"
		>	
				{{category.Name}}
			<span></span>
		</router-link> 
	</app-sidebar>
</template>

<script>
	export default {
		name: 'NewsSidebar',
		data() {
			return {
				news_categories : []
			}
		},
		methods:{
            getChildrenPages(){
            	let vm = this;

            	$.ajax({
                    url: process.env.API_LOCATION + 'postcategory',
                    type: 'GET',
                    dataType: 'json',
                    success(result) {
                        vm.news_categories = result;
                        vm.$emit('datainited', result);
                    }
                })

            }
		},
		mounted(){
			this.getChildrenPages();
		}
	}
</script>