<template>
	<app-sidebar title="Tuyển dụng">
		<router-link :to="{name: 'Recruitment'}" class="left_menu_item">
			Tuyển dụng<span></span>
		</router-link>

		<router-link :to="{name: 'Recruitment', params: {slug: childPage.Slug}}" v-for="childPage in childrenPages" class="left_menu_item">
			{{childPage.Title}}<span></span>
		</router-link>

		<router-link :to="{name: 'Contact'}" class="left_menu_item">
			Liên hệ<span></span>
		</router-link>
	</app-sidebar>
</template>

<script>
	export default {
		name: 'RecruitmentSidebar',
		data() {
			return {
				childrenPages: []
			}
		},
		methods:{
			getChildrenPages(){
                let vm = this;

                $.ajax({
                    url: process.env.API_LOCATION + 'page',
                    type: 'GET',
                    dataType: 'json',
                    data: {templateId: "Career"},
                    success(result){
                        vm.childrenPages = result;
                    }
                })

            },
		},
		created(){
			this.getChildrenPages();
		}
	}
</script>