.page_title.contact {
    text-align: center;
}
.contact_tab_btn_bg {
    position: relative;
    width: 100%;
    text-align: center;  
}
.contact_tab_btn_item 
{
    /*float: left;
    width: 120px;
    text-align: right;*/
    display: inline-block;
    color: #686868;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom:8px;
    font-size: 14px;
    padding-right: 16px;
    white-space: nowrap;
}
.contact_tab_btn_item.message
{
    padding-right: 0;
    padding-left: 16px;
    /*float: right;*/
    /*text-align: left; */  
}
.contact_tab_btn_item:hover, .contact_tab_btn_item.selected {
    color:#8cd966;
}
.contact_info_bg{
	position:relative;
	/*width:100%;
	margin-top:25px;*/
	/*background:#00F;*/
    text-align: center;
    line-height: 32px !important;
    margin-bottom: 150px;
}
.contact_info_bg span{
	position:relative;
	color:#00923F;
	font-size:16px;
	font-family: 'gillsansregular';
	text-transform: uppercase;
	text-shadow: 0px 0px 1px rgba(0,102,179,0.50);
	/*padding: 0 0 12px 0;
	margin-top:15px;*/
	font-weight:normal;
}
.contact_info_bg strong
{
    font-weight: bold !important;
    color: #666666;
}
.contact_info_bg a
{
    color: #686868;
}
.contact_info_bg a:hover
{
    color: #017f1e;  
}
.contact_form_bg 
{
    margin-top: 6px;
    margin-bottom: 26px;
}
.contact_txt_bg 
{
    position: relative;
    float: left;
	width:48%;
	height:28px;
	border: 1px solid #ddd;
	margin: 22px 0 0 0;
	/*font-family:'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New";*/
	font-size: 13px;
	font: 13px/20px 'Arial';
}

.contact_txt_bg:nth-child(2n)
{
    float: right;
}
.contact_txt_bg span
{
    position: absolute;
    z-index: 0;
    margin-left: 6px;
    margin-top: 3px;
    color: #999999;   
}
.contact_txt
{
    position: absolute;
    border: none;
    background: none;
    outline:none;
    width:88%;
	height:24px;
    padding-top: 3px;
	margin-left: 6px;
    z-index: 10;
    font: 13px/20px 'Arial';
	/*font-family:'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New";*/	    
}
.contact_txta_bg 
{
    position: relative;
    float: left;
	width:100%;
	height:150px;
	border: 1px solid #ddd;
	margin: 22px 0 0 0;
	/*font-family:'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New";*/
	font: 13px/20px 'Arial';
	color: #999999;	
}
.contact_txta_bg span
{
    position: absolute;
    z-index: 0;
    margin-left: 6px;
    margin-top: 4px; 
    font-weight: normal !important; 
    color: #999999; 
}
.contact_txta
{
	position: absolute;
    border: none;
    background: none;
    outline:none;
    width:98%;
	height:144px;
    margin-top: 1px;
	margin-left: 4px;
    z-index: 10;
    color:#666;
    font-weight: normal;
	/*font-family:'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New";*/
    resize: none;
    font: 13px/20px 'Arial';
}
.contact_button 
{
    position: relative;
    width: 100%;
	top:22px;
	bottom:28px;
    /*width: 100%;
    height: 60px;
	height:38px;
	background:#555;*/
}
.contact_button a{
	float:left;
	/*width:95px;*/
    width: 100%;
	height:32px;
	background: #017f1e;
	color:#fff;		
	overflow:hidden;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
    /*font-family:'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New";*/
}
.contact_button a span {
    float: left;
    width: 100%;
    text-align:center;
    margin-top: 7px;
    text-shadow: 0px 0px 1px #fff;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer; 
}
.contact_button a:hover span 
{
    text-shadow: 0px 0px 1px #fff, 0px 0px 5px #fff; 
}
.contact_button a:hover{
	color:#fff;
    background:#8cd966;  
}
.contact_button a:active{
	color:#fff;
	background:#017f1e;
	-webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    color: #ddd;
    text-shadow: none; 
}
/* Contact Button */
.contact_button_send{
	margin-left:0px;
}
.contact_button_reset{
	margin-left:20px;
}
.contact_txt_bg label{
    position: absolute;
    margin-top: -20px;
    width: 100%;
}
.invalid_icon
{
	width:19px;
	height:18px;	
	position:absolute;
	top: 22px;
    right:0;
	background:transparent url(../Images/Icons/invalid_field.png) no-repeat 0px 0px;
}
.valid_icon
{
    position:absolute;
	width:19px;
	height:18px;
    top: 21px;
    right:2px;
	background:transparent url(../Images/Icons/valid_field.png) no-repeat 0px 0px;
}
.invalid_text
{
    position:absolute;
	right:2px;
	font-weight:normal;
	font-size:10px !important;
	/*color:#8C0000;*/
	color: #999999;
	width:100%;
	text-align:right;
	
}
.contact_txta_bg label{
    position: absolute;
    margin-top: -21px;
    width: 100%;
}
#content_error_mes .invalid_icon
{
	width:19px;
	height:18px;
	position:absolute;
    top: 145px;
	background:transparent url(../Images/Icons/invalid_field.png) no-repeat 0px 0px;
}
#content_error_mes .valid_icon
{
	width:19px;
	height:18px;
	position:absolute;
	background:transparent url(../Images/Icons/valid_field.png) no-repeat 0px 0px;
	right:2px;
    top: 145px;
}
#content_error_mes .invalid_text
{
    position:absolute;
	margin-left:2px;
	font-weight:normal;
	font-size:10px !important;
	/*color:#8C0000;*/
	color: #999999;	
	height:22px;
	width:100%;
	right:1px;
	text-align:right;
}
@media only screen and (max-width : 600px)	
{
    .contact_txt_bg {
        float: left;
        width: 100%;
    }	
	/*.contact_txt{
		width:100%;
	}
	.contact_txta{
		width:100%;
	}
	.invalid_text{
		left:-33px;
		margin-top:-40px;
		font-size:11px;
		color:#f4811f;
		width:100%;
	}
	.invalid_content_text{
		left:-33px;
		margin-top:-136px;
		color:#f4811f;
		width:100%;
	}
	.invalid_icon{
		margin-top:-40px;
		right:12px;
	}
	.invalid_content_icon{
		margin-top:-136px;
		right:12px;
	}
	.valid_icon{
		margin-top:-40px;
		right:12px;
	}
	.valid_content_icon{
		margin-top:-137px;
		right:12px;
	}
	.contact_info_bg strong{
		font-size:13px;
	    text-align: center;
	}
	.form_contact_title{
		font-size:12px;
	}*/
}











