<style>
	.fade-enter-active, .fade-leave-active {
		transition-property: opacity;
		transition-duration: .35s;
	}
	.fade-enter-active {
		transition-delay: .35s;
	}
	.fade-enter, .fade-leave-active {
		opacity: 0
	}
</style>

<template>
	<div id="template-root">
	   <!--Header start-->

	    <app-header></app-header>

		<transition name="fade">
	
			<router-view/>
	
		</transition>

	    <go-to-top></go-to-top>

	    <!--Header END-->

	    <!--Footer start-->
		<app-footer></app-footer>
		<!--Footer END-->

		<vue-progress-bar></vue-progress-bar>
    </div>
</template>

<script>
	import '@/assets/Styles/Plugins/jquery-ui.min.css'
    import '@/assets/Styles/Plugins/bootstrap.css'
    import '@/assets/Styles/Plugins/gray.min.css'
    import '@/assets/Styles/Fonts/GillSans/font.css'
    import '@/assets/Styles/template.css'
    import '@/assets/Styles/pages.css'
    import '@/assets/Styles/carousel.css'
    import '@/assets/Styles/menu.css'
    import '@/assets/Styles/tablet.css'
    import '@/assets/Styles/mobile.css'

    import Vue from 'vue'
    import jQuery from 'jquery'
    import lodash from 'lodash'
    import '@/assets/Js/bootstrap.min.js'

	export default {
	  	name: 'LayoutBasic',
	  	methods:{
	  		getOptions(){
	  			let vm = this;
	  			$.ajax({
	  				url: process.env.API_LOCATION + 'option',
	  				type: 'GET',
	  				dataType: 'json',
	  				success(s){
	  					
	  					
	  					let options = {};
	  					_.forEach(s, function(item, key) {
	  						options[item.Name] = item.Value;  
	  					});

	  					vm.$store.commit('setOptions', options);
	  					
	  				}
	  			})
	  		}
	  	},
	  	mounted(){	
	  		this.$Progress.finish();
	  		this.getOptions();
	  	},
	  	created(){
	        this.$router.beforeEach((to, from, next) => {
                //  does the page we want to go to have a meta.progress object
                if (to.meta.progress !== undefined) {
                    let meta = to.meta.progress;
                        // parse meta tags
                    this.$Progress.parseMeta(meta);
                }
                //  start the progress bar
                this.$Progress.start();
                    //  continue to next page
                next();
            })
            //  hook the progress bar to finish after we've finished moving router-view
	        this.$router.afterEach((to, from) => {
	            //  finish the progress bar
	            this.$Progress.finish();
	        })
	  	},
	  	head: {
            title: {
                inner: 'Sàn giao dịch bất động sản'
            },
            // Meta tags
            meta: [
                {
                    name: 'application-name',
                    content: 'Sàn giao dịch bất động sản Đà Nẵng Lam Kinh Real'
                }, 
                {
                    name: 'description',
                    content: 'Công ty cổ phần đầu tư phát triển đô thị Lam Kinh Real. Chuyên tư vấn đầu tư bất động sản, mua bán nhà đất Đà Nẵng. Hotline: 0983 368 333',
                },
            ],
        }
	}
</script>