<style scoped>
	.nivoSlider img{
		/*height:100% !important;*/
	} 
	/*.nivo-main-image{height:100% !important;}*/
</style>

<template>
	<div class="home_slider">

		<div class="slider-wrapper theme-default">
		    <div id="slider" class="nivoSlider">
               	<img v-for="slide in slides" :key="slide.Id" class="slide_img" :src="API_HOST + slide.Image" :title="'#htmlcaption' + slide.Id"/>
		    </div>    
		</div>

		<div v-for="slide in slides" :id="'htmlcaption' + slide.Id" style="display:none">
		    <div class="container">
		       <div class="caption_bg">
		            <div class="caption_title">{{slide.Name}}</div>
		            <div class="caption_slogan_bg">
		                <div class="caption_slogan">{{slide.Description}}</div>
		                <a :href="slide.Link" :target="slide.Target" class="button_readmore">Xem thêm<span></span></a>
		            </div>
		        </div>           
		    </div>
		</div>

	</div>
</template>

<script>
	import '@/assets/Styles/Plugins/nivoslider.css'
    import '@/assets/Styles/Plugins/nivoSlider/default/default.css'

    import '@/assets/Js/jquery.nivo.slider.pack.js'

	export default {
		name: "BannerSlider",
		props:{
			slides: {
				type: Array,
				required: true,
			}
		},
		methods:{
			init(){
		
				$('#slider').nivoSlider({
					effect: 'fade',//'fold,fade,sliceDown,boxRainReverse', // Specify sets like: 'fold,fade,sliceDown'
					slices: 30, // For slice animations
					boxCols: 20, // For box animations
					boxRows: 10, // For box animations
					animSpeed: 500, // Slide transition speed
					pauseTime: 7000, // How long each slide will show
					startSlide: 0, // Set starting Slide (0 index)
					directionNav: true, // Next & Prev navigation
					directionNavHide: true, // Only show on hover
					controlNav: false, // 1,2,3... navigation
					controlNavThumbs: false, // Use thumbnails for Control Nav
					pauseOnHover: false, // Stop animation while hovering
					manualAdvance: false, // Force manual transitions
					randomStart: false, // Start on a random slide
					captionOpacity: 1,
					// afterLoad: function () {
					//     $('#slider .nivo-caption').css({ left: 0, opacity: '1' });
					// },
					beforeChange: function () { 
						$('#slider .nivo-caption').css({left:'-100%', opacity:'0'})
					},
					afterChange: function () {
					    $('#slider .nivo-caption').css({ left: 0, opacity: '1' });
					}
				});
			}
		},
		mounted(){
			this.$nextTick(() => {
				this.init();
			})
		},
	}
</script>